<div class=" mt-5">
  <div class="row">
    <div class="col-12 mx-auto">
      <div class="d-flex justify-content-between">
        <h3>Delete the order with id = </h3>
      </div>
      <hr />
      <div class="alert alert-danger">
        Are you sure to delete this order ?
      </div>
      <div class="col-12 mb-5">
        <a routerLink="../.." class="btn btn-primary">Cancel</a>
        <button type="submit" class="btn btn-danger mx-2" (click)="deleteProductApi()">Delete</button>
      </div>
    </div>
  </div>
</div>
