<main>
  <div class="container-fluid px-4">
    <h1 class="mt-4">Detail User</h1>
    <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item"><a routerLink="admin">Dashboard</a></li>
      <li class="breadcrumb-item active">Users</li>
    </ol>
    <div class="mt-5">
      <div class="row">
        <div class="col-12 mx-auto">
          <div class="d-flex justify-content-between">
            <h3>User Details</h3>
          </div>
          <hr />
          <div class="card" style="width: 60%;">
            <div class="card-header">
              Information
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">ID: {{userById?.id}}</li>
              <li class="list-group-item">Email: {{userById?.email}}</li>
              <li class="list-group-item">Full name: {{userById?.fullName}}</li>
              <li class="list-group-item">Address: {{userById?.address}}</li>
              <li class="list-group-item">Role: {{role?.name}}</li>
            </ul>
          </div>
        </div>
      </div>
      <a class="btn btn-success mt-3" routerLink="../.." >Back</a>
    </div>
  </div>
</main>
